@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	box-sizing: border-box;
	/* added the font globaly */
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
}

body {
	/* added the scroll in the body */
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232b2b2b' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233b0303'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
}

.highlight {
	color: red;
	font-weight: 500;
}
.about-desc a {
	text-decoration: none;
	color: red;
}

.about-desc a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 30px rgb(255, 255, 255);
	transition: 0.1s ease-in-out;
}

.navbar {
	border-radius: 0;
	transition: all 0.5s;
}
.navbar.sticky {
	background: #000;
}

#navbarbrand {
	color: white;
	margin-right: auto;
}

#navigation {
	background-color: transparent;
}

.section-link a {
	color: white;
	text-decoration: none;
	transition: 0.2s;
}
.section-link a:hover {
	color: red;
	transition: 0.2s;
}

/* in the #content and #sidebar */
#content {
	position: relative;
}

#sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100px;
	height: 100%;
	z-index: 99;
}
.icons {
	float: left;
}

.myname {
	color: white;
	writing-mode: vertical-lr;
	text-orientation: upright;
	margin: 15px 0px 50px 0px;
	letter-spacing: -4px;
	font-size: 1.2em;
	font-weight: 500;
}
.myname.pad {
	margin-top: 90px;
}
.icon {
	font-size: 30px;
	color: white;
}
.icon:hover {
	color: rgb(158, 158, 158);
}

#Home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.home-icon-container {
	margin-top: 80px;
	display: none;
	flex-direction: row;
	width: 280px;
	align-items: center;
	justify-content: space-between;
}
#About {
	background-color: rgba(255, 255, 255, 0.096);
	min-height: 100vh;
	text-align: center;
	color: white;
	padding: 50px;
}

#Projects {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgba(255, 0, 0, 0.096);
	min-height: 100vh;
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 50px;
}

.logo {
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	overflow: hidden;
	width: 60%;
}
.line {
	height: 2px;
	background: #fff;
	display: inline-block;
	width: 100%;
}
.topline {
	animation: opentopline 1.5s;
}
.bottomline {
	animation: openbottomline 1.5s;
}
.content {
	animation: slidecontent 1s;
	animation-fill-mode: backwards;
	animation-delay: 1.25s;
}
.name {
	font-weight: 400;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.description {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-style: italic;
	animation: glow 1.5s ease-in-out infinite;
}
.logo-skills {
	font-size: 1.2em;
	margin-top: 0.25em;
	font-weight: 400;
	letter-spacing: 1px;
}

.section-content {
	margin: 0 0;
}
.section-content h2 {
	font-weight: 700;
	letter-spacing: 8px;
}

.avatar {
	border-radius: 50%;
	height: 161px;
}

.about-desc,
.project-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: auto;
}
.about-desc p,
.project-desc p {
	font-size: 20px;
}

.boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.about-box {
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin: 40px;
	box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
	border: solid 2px white;
}

.box-background {
	position: absolute;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.5)
		),
		url('../pictures/cool-background\ \(1\).png');
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box-content {
	padding: 20px;
	color: white;
	z-index: 1;
}
.box-content h2 {
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0;
}

.project-cards {
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
}
.project-card {
	background: white;
	width: 400px;
	display: inline-block;
	margin: auto;
	position: relative;
	text-align: center;
	box-shadow: -1px 15px 30px -12px black;
	border: 2px solid red;
	background-image: linear-gradient(
			to bottom,
			rgb(255, 255, 255),
			rgba(255, 255, 255, 0.486)
		),
		url('../pictures/cool-background\ \(1\).png');
}
.project-card:hover .overlay {
	height: 100%;
}
.card-background {
	width: 100%;
	height: 100%;
}

.img-box {
	display: block;
	width: 100%;
	height: 300px;
	background-color: rgb(199, 199, 199);
	background-image: url('../pictures/altumcode-U0tBTn8UR8I-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.termello {
	background-image: url('../pictures/RTaImnIJPt.png');
	background-size: cover;
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(70, 70, 70, 0.534);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
}
.project-content {
	color: white;
	font-size: 16px;
	position: absolute;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	z-index: 1;
}
.tags {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 3px;
	color: red;
}
.project-title {
	font-size: 26px;
	font-weight: 900;
	margin-bottom: 5px;
}
.project-description {
	padding: 20px;
	margin-bottom: 10px;
}

.btn {
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 45px;
	margin: 0 0 2em;
	max-width: 160px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	border: 1px solid black;
	padding: 0;
	border-radius: 0;
	transition: 0.3s ease-in-out;
	color: white;
}
.btn:hover {
	background-color: gainsboro;
}

@keyframes opentopline {
	0% {
		width: 0;
		transform: translateY(5em);
	}
	50% {
		width: 27em;
		transform: translateY(5em);
	}
	100% {
		width: 27em;
		transform: translateY(0);
	}
}
@keyframes openbottomline {
	0% {
		width: 0;
		transform: translateY(-5em);
	}
	50% {
		width: 27em;
		transform: translateY(-5em);
	}
	100% {
		width: 27em;
		transform: translateY(0);
	}
}
@keyframes slidecontent {
	0%,
	30% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #68a1b3,
			0 0 70px #11c7ff, 0 0 80px #11c7ff, 0 0 100px #11c7ff, 0 0 150px #11c7ff;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #11c7ff,
			0 0 35px #11c7ff, 0 0 40px #11c7ff, 0 0 50px #11c7ff, 0 0 75px #11c7ff;
	}
}

@media (max-width: 610px) {
	#sidebar {
		display: none;
	}
	.logo {
		font-size: 1.2em;
		width: 300px;
	}
	.home-icon-container {
		display: flex;
	}
	.navbar {
		display: flex;
		justify-content: center !important;
		align-items: center;
		padding: 0;
	}
	#About {
		padding: 50px 0px;
	}
}
@media (max-width: 426px) {
	.project-card {
		width: 300px;
		margin: auto;
	}
	.img-box {
		height: 230px;
	}
	.project-title {
		font-size: 20px;
	}
	.project-description {
		display: none;
	}
}
