* {
    box-sizing: border-box;
}

body { 
	  width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23313131' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.navbar {
  border-radius: 0;
}

#navbarbrand {
  color:white;
  margin-right: auto;
}

#navigation {
  background-color: transparent;
}

.section-link {
  color: white;
  font-family: 'Roboto Mono', monospace;
}

#sidebar {
  float: left;
  padding: 350px 0;
  position: fixed;
  height: 100%;
  background-color: black;
  color: white;
  overflow-x: hidden;
  width: 100px;
  z-index: 1;
  text-align: center;
}
#content {
  margin-left: 100px;
}

#Home {
  background-color: gainsboro;
  height: 100vh;
  padding: 350px 0;
}
#About {
  background-color: green;
  height: 100vh;
}
#Skills {
  background-color: pink;
  height: 100vh;
}
#Projects {
  background-color: orange;
  height: 100vh;
}
#title {
  text-align: center;
  margin: auto;
  background-color: red;
  padding: 20px;
  max-width: 400px;
}
